title: Your awesome title
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate-v2
  - jekyll_picture_tag
  
sass:
  sass_dir: _sass

destination: _site
source: . 

exclude:
 - photos

picture:
  source: "assets/images/_fullsize"     # skąd brać obrazy-oryginały
  output: "assets/images/generated"     # dokąd zapisywać wersje wynikowe


collections:
  news:
    output: true
    permalink: /aktualnosci/:path
  events:
    output: true
    permalink: /wydarzenia/:path